<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible site</title>
</head>
<body>
    <p>Ansible is awesome, owner: {{owner}}</p>
    <p>Server Host Name: {{ ansible_hostname }} <p> <br>
    <p>Server OS Family: {{ ansible_os_family }} <p> <br>
    <p> Server IP Adress: {{ansible_all_ipv4_addresses}} <p>
</body>
</html>